/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 1000px;
  margin: 0px auto;
  padding: 10px;
}
.button-header {
  padding: 7px 10px;
  border-radius: 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*header*/


.upper-header {
  background-color: rgb(37, 94, 233);
  padding: 10px 0px;
  color: white;
  /*debug*/
  /*background-color: antiquewhite;*/
}

.upper-header > .container {
  display: flex;
}
.upper-header .header-items {
  padding: 5px 10px;
  flex-basis: 20%;
  align-items: center;
  /*debug*/
  /*background-color: cornflowerblue;
  border: 1px solid black;*/
}

.upper-header .header-nav {
  flex-grow: 1;
  text-align: center;
}
.link-items {
  display: inline-block;
  padding: 6px 10px;
}
a {
  color: white;
  text-decoration: none;
  text-align: center;
}
.upper-header .header-login {
  text-align: right;
}
.login-header > #button-login {
  border: 1px solid white;
  background-color: white;
}

/*lower-header*/
.lower-header {
  
  background-image: url("../img/jumbo.png");
  background-size: cover;

  padding: 70px 0px;
  /*debug*/
  /*background-color: blue;
border: 1px solid black;*/
}
.lower-header > .container {
  text-align: center;
  color: white;
  width: 800px;
  min-height: 40vh;
  /*debug*/
  /*background-color: cadetblue;*/
}
.title {
  padding: 20px 0px;
  font-size: 2.5rem;
}
.subtitle {
  padding: 20px 0px;
}
#button-white {
  background-color: white;
  border: 1px solid white;
  margin: 10px;
}

#button-black {
  background-color: rgb(20, 20, 20);
  color: white;
  border: 1px solid rgb(20, 20, 20);
  margin: 10px;
}
/*main*/
.page-section {
  padding: 40px 0px;
  background-image: url('../img/wave.svg');
 
 
}
.page-section .container {
  display: flex;
  align-items: center;
}

.page-section .column-lg {
  min-height: 400px;
  flex-basis: 70%;
  /*debug*/
  /*
  border: 1px solid black;
  background-color: blue;*/
}
.page-section .column-sm {
  min-height: 400px;
  flex-basis: 30%;
  /*debug*/
  /*
  background-color: blueviolet;
  border: 1px solid black;*/
}
.title-section {
  font-size: 2.5rem;
  padding-bottom: 20px;
}
.subtitle-section {
  line-height: 1.6rem;
}
.page-section:nth-child(odd) > .container {
  flex-direction: row-reverse;
}
.page-section:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}
.page-section.single-section > .container {
  min-height: 800px;
  /*debug*/
  /*
  background-color: cyan;
  border: 1px solid black;*/
}
.single-section .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.img-single-section {
  display: block;
}
.ask {
  background-image: url("../img/stars.svg");
  background-size: contain;
  padding: 30px;
  font-weight: 700;
}
#button-singlesection {
  background-color: rgb(98, 168, 226);
  color: white;
  border: 1px solid rgb(98, 168, 226);
  margin-top: 50px;
}

/*footer*/

.page-sectionsection-footer > .container {
  display: flex;
  padding: 20px 0px;
  border-bottom: 2px solid white;
  align-items: flex-start;
  
  
}
.page-sectionsection-footer {
  background-color: rgb(35, 39, 42);
  color: rgb(122, 109, 209);
}
.footer-column big {
  width: 40%;
  
  
}

.footer-column {
  width: 20%;
 
  
  
}
.container-footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 20px auto;
  padding: 10px 0px;
}

.footer-logo {
  /*
  color: wheat;
  background-color: blue;*/
  display: inline;
}
.footer-items {
  list-style: none;
  padding: 15px 0px;
}
.flag{
  width: 18px;
  height: 10px;
}
.flag-span{
  font-size: 10px
}
.footer-items > a {
  text-decoration: none;
  text-align: left;
  color: white;
}
.big-column{
  padding-top: 10px;
  font-size: 1.4rem;
}
.title-nav-footer > a {
  color: rgb(122, 109, 209);
}

#Registrati{
  background-color: rgb(122, 109, 209);
  border: 1px solid rgb(122, 109, 209);
  color: white;
}
