/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 1000px;
  margin: 0px auto;
  padding: 10px;
}
.button-header {
  padding: 7px 10px;
  border-radius: 15px;
}

/*header*/

.upper-header {
  background-color: rgb(37, 94, 233);
  padding: 10px 0px;
  color: white;
  /*debug*/
  /*background-color: antiquewhite;*/
}

.upper-header > .container {
  display: flex;
}
.upper-header .header-items {
  padding: 5px 10px;
  flex-basis: 20%;
  /*debug*/
  /*background-color: cornflowerblue;
  border: 1px solid black;*/
}

.upper-header .header-nav {
  flex-grow: 1;
  text-align: center;
}
.link-items {
  display: inline-block;
  padding: 0px 10px;
}
a {
  align-items: center;
  color: white;
  text-decoration: none;
}
.upper-header .header-login {
  text-align: right;
}
.login-header > #button-login {
  border: 1px solid white;
  background-color: white;
}

/*lower-header*/
.lower-header {
  background-image: url("../img/jumbo.png");
  background-size: contain;

  padding: 30px 0px;
  /*debug*/
  /*background-color: blue;
border: 1px solid black;*/
}
.lower-header > .container {
  text-align: center;
  color: white;
  width: 800px;
  min-height: 40vh;
  /*debug*/
  /*background-color: cadetblue;*/
}
.title {
  padding: 20px 0px;
  font-size: 2.5rem;
  
}
.subtitle{
  
  padding: 20px 0px;
}
#button-white {
  background-color: white;
  border: 1px solid white;
  margin: 10px;
}

#button-black {
  background-color: rgb(20, 20, 20);
  color: white;
  border: 1px solid rgb(20, 20, 20) ;
  margin: 10px;
}
/*main*/
.page-section {
  padding: 40px 0px;
}
.page-section .container {
  display: flex;
}

.page-section .column-lg {
  min-height: 400px;
  flex-basis: 80%;
  /*debug*/
  border: 1px solid black;
  background-color: blue;
}
.page-section .column-sm {
  min-height: 400px;
  flex-basis: 20%;
  /*debug*/
  background-color: blueviolet;
  border: 1px solid black;
}
.page-section:nth-child(odd) > .container {
  flex-direction: row-reverse;
}
.page-section:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}
.page-section.single-section > .container {
  min-height: 800px;
  /*debug*/
  background-color: cyan;
  border: 1px solid black;
}

/*footer*/
.page-section.section-footer {
  background-color: rgb(86, 97, 97);
}
.footer-column-big {
  width: 40%;
  height: 40vh;
  background-color: crimson;
}

.footer-column {
  background-color: blueviolet;
  width: 20%;
  border: 1px solid black;
}
.container-footer-logo {
  width: 60%;
  background-color: beige;
  margin: 20px auto;
  padding: 10px 0px;
}

.footer-logo {
  color: wheat;
  background-color: blue;
  display: inline;
}

.section-footer > .container {
  padding: 20px 0px;
  border-bottom: 2px solid white;
}
